<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Việt Sử Quest - website học Lịch sử Việt Nam cho học sinh lớp 6-12 với khóa học, game, bản đồ tương tác, tài liệu và chatbot hỗ trợ học tập."
  />
  <title><%= pageTitle %> | <%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css" />
  <script defer src="/js/main.js"></script>
</head>
